# 배열(Array)
- 데이터를 나열하고,, 각 데이터를 인덱스에 대응하도록 구성한 데이터구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공한다.

## 면접(배열이 필요한 이유)
- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장
- 장점:
    - 빠른 접근 가능
        - 첫 데이터의 위치에서 상대적인 위치로 데이터 접근(인덱스 번호로 접근)
- 단점:
    - 데이터 추가 / 삭제의 어려움
        - 미리 최대 길이를 지정해야함

## c언어와 비교하기

In [1]:
#include <stdio.h>

int main(int argc, char * argv[])
{
    #c언어는 배열의 크기를 잡아야 한다. 문자열경우 마지막 \을 포함한 길이를 배열의 크기로 잡아야 한다.
    #때문에 US를 넣기 위해서는 3을 넣어야 하고 만약 USA를 넣는다고 했을때
    # 배열을 다시 재정의 해야 하는 번거러움이 있다.
    char country[3] = "US";
    printf ("%c%c\n", country[0], country[1]);
    printf ("%s\n", country);    
    return 0;
}

SyntaxError: invalid syntax (<ipython-input-1-8d18ff584fc9>, line 3)

In [3]:
# 파이썬은 초기에 배열을 정의하지 않고 + 를 통해 쉽게 배열에 추가할수 있다.
country = 'US'
print(country)
print(country+'A')

US
USA

## 파이썬의 배열
- 파이썬 리스트로 배열 구현 가능

In [4]:
# 1차원 배열 : 리스트로 구현
data_list = [1,2,3,4,5]
data_list

[1, 2, 3, 4, 5]

In [10]:
# 2차원 배열 : 리스트로 구현
data_list = [[1,2,3], [4,5,6], [7,8,9]]
print(data_list)
[print(i) for i in data_list]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

[None, None, None]

In [11]:
# 2차원 배열 뽑기
print (data_list[0])

print (data_list[0][0])
print (data_list[0][1])
print (data_list[0][2])
print (data_list[1][0])
print (data_list[1][1])

[1, 2, 3]
1
2
3
4
5

# 응용) M 의 개수 뽑기

In [13]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [26]:
# 방법1
count_m=0
for i in dataset:
    for j in range(len(i)):
        if i[j]=='M':
            count_m+=1
print(count_m)

38

In [28]:
#방법 2
# count 함수 배열안에 해당문자열 개수 카운트
count_m=0
for i in dataset:
    count_m +=i.count('M')
print(count_m)

38

In [33]:
#방법 3
count_m=0
sum([i.count('M') for i in dataset])

38